{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Conf_sistema list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nso</th>
                <th>Vso</th>
                <th>Aso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('conf_sistema_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nso }}</td>
                <td>{{ entity.vso }}</td>
                <td>{{ entity.aso }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('conf_sistema_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('conf_sistema_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('conf_sistema_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
